:root {
  --colorbackground: rgba(0, 0, 0, 0.132);
}

/* --------------------------------- */
/* BODY */
body {
  font-family: Helvetica, Arial, sans-serif;  
  background-color: var(--colorbackground);
  margin: 20px;
}

.fb-column {
  display: flex;
  flex-direction: column;
}

.fb-flex {
  display: flex;
  margin: 10px;
  border: 1px solid black;
}

.fb-main-container {
  display: flex;
  flex-direction: column;
}

.fb-flex-item {
  display: flex;
  align-self: flex-end;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}





/* --------------------------------- */
/* HEADER */


/* --------------------------------- */
/* MAIN */

.flex-box-main {
  display: flex;
  align-self: flex-end;
}

/* --------------------------------- */
/* SECTION */
.flex-box-section1-container {
  display: flex;
}

.flex-box-section2-container {
  display: flex;
}

.flex-box-section3-container {
  display: flex;
}

.flex-box-section4-container {
  display: flex;
}

.flex-box-section2-container {
  display: flex;
}

/* --------------------------------- */
/* FOOTER */
.flex-box-footer-container {
  display: flex;
}

.flex-box-footer {
  display: flex;
  align-self: flex-end;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

/* --------------------------------- */

.flex-box-image-container{  
  margin: 10px;
  width: 100%;
  height: 100px;
  text-align: right;
  vertical-align: baseline;
  background-color: red
 
}

text-bottom-right {
  /* position: absolute; */
  text-align: right;
  vertical-align: bottom;
}

.flex-box-section {
  margin: 10px;
  border: 1px solid black;

}


@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  .fb-flex,
  nav {
    flex-direction: column;
  }