:root {
    --colorbackground: rgba(0, 0, 0, 0.132);
  }
  
  /* --------------------------------- */
  /* BODY */
body {
    font-family: Helvetica, Arial, sans-serif;  
    background-color: var(--colorbackground);
    margin: 20px;
  }

  .flex-box-body-container {
    display: flex;
    flex-direction: column;
  }

  /* --------------------------------- */
  /* HEADER */
  .flex-box-header-container {
    display: flex;
  }

  .flex-box-header {
    display: flex;
    align-self: flex-end;
  }

  /* --------------------------------- */
  /* MAIN */
  .flex-box-main-container {
    display: flex;
    flex-direction: column;
  }

  .flex-box-main {
    display: flex;
    align-self: flex-end;
  }

  /* --------------------------------- */
  /* SECTION */
  .flex-box-section1-container {
    display: flex;
  }

  .flex-box-section2-container {
    display: flex;
  }

  /* --------------------------------- */
  /* FOOTER */
  .flex-box-footer-container {
    display: flex;
  }

  .flex-box-footer {
    display: flex;
    align-self: flex-end;
  }

  /* --------------------------------- */

  .flex-box-section flex-box-section-1 {
    width: 100%;
    height: 200px;
    background-image: url("https://via.placeholder.com/100.png");
  }

  .flex-box-section {
    width: 200px;
    margin: 10px;
    border: 10px solid black;

  }