:root {
  --colorbackground: rgba(0, 0, 0, 0.132);
}

body {
  font-family: Helvetica, Arial, sans-serif;  
  background-color: var(--colorbackground);
  margin: 20px;
}

.fb-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
}

.fb-flex {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 1px solid black;
}

.fb-main-container {
  display: flex;
  flex-direction: column;
}

.fb-flex-item-100 {
  display: flex;
  width: 100%;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

.fb-flex-item {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

.fb-flex-item-25 {
width: 25%;
margin: 5px;
border: 1px solid black;
padding: 10px;
}
.fb-flex-item-75 {
width: 75%;
margin: 5px;
border: 1px solid black;
padding: 10px;
}
.fb-flex-item-33 {
width: 33.33333333%;
margin: 5px;
border: 1px solid black;
padding: 10px;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  .fb-flex {
    flex-direction: column;
  }